conda/
.*
*stderr
*stdout
database/
binny_initialized
workflow/bin/Multicore-opt-SNE
workflow/scripts/__pycache__
test_output
jobs.tsv
install.log
test_run.log
run_gomico_test.sh
gomico_test_G64/
test_output
config/c2_t_oral_s17_config.yaml
config/config.gomico.G64.yaml
*gomico_G*_test*
!.gitignore
G64_max_900.fa
contigs_4bins_max_999.fa
metabat_test/
report.html
test/contigs_4bins_max_999.fa
test_output2/
tmp.bam
